@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik", sans-serif;
    color: black;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
}

.text {
    display: flex;
    align-items: center;
}

.p_g {
    display: flex;
}

.photo {
    padding: 25px;
    width: 650px;
}

.geom {
    font-size: 25px;
}

